site_name: Grupo 03 - OuvidorIA
site_description: Documentação do projeto OuvidorIA
site_url: https://unb-sistemas-de-machine-learning.github.io/grupo3-consulta-ouvidoria/
use_directory_urls: true


repo_url: https://github.com/unb-Sistemas-de-Machine-learning/grupo3-consulta-ouvidoria
repo_name: grupo3-consulta-ouvidoria

nav:
  - Home: index.md
  - Engenharia de Requisitos:
    - Descoberta: Elicitação/descoberta.md
    - ML Canva: Elicitação/mlcanva.md
    - Requisitos: Elicitação/requisitos.md
    - Histórias de Usuário (US): Elicitação/historias-de-usuario.md
    - Priorização das US: Elicitação/priorizacao-us.md
    - MVP e Cronograma: Elicitação/mvp-cronograma.md
  - Engenharia de Dados:
    - Arquitetura: Dados/arquitetura.md
    - Coleta e Armazenamento de Dados: Dados/dados.md
    - Métricas: Dados/metricas.md
  - Resultados:
    - Resultados: Resultados/resultados.md
    
theme:
  name: material
  language: pt-BR
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - toc.follow
    - content.code.copy
    - content.tabs.link
    - content.grid
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: images/ouvidoria.png

# Plugins
plugins:
  - search
  
# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true